body {background-color: darkred; font-family: Roboto ; src: url( ../fonts/roboto/Roboto-Regular.ttf ) format("truetype");   }

.neon{
	margin-top:-15px;
	background:#565656;
	-webkit-border-radius:.3em;
       -moz-border-radius:.3em;
	        border-radius:.3em;}
.neon ul {padding: 0 0 0 0px;}
.neon li{
	float:left;
	text-align:center;
	display:inline-block;
	border-right:1px solid #2c251f;
}
.neon li a{
	color:#ffffff; text-decoration: none;
	font-size:15px;
	display:block;
	padding:10px 25px;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-webkit-transition:all .3s;
	-ms-transition:all .3s;
	transition:all .3s;
}
.neon li a:hover{
	color:#fff; text-decoration: none;
	background:red;}

	
