#intro {
  margin: 0px 0% 0px 0%;
}

body {
  background:  url('../img/space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

body:before {
 content: "";
 position: fixed;
 left: 0; right: 0;
 top: 0; bottom: 0;
 background: linear-gradient(15deg, rgba(42, 27, 161, 0.2), rgba(255, 10, 20, 0.16) 90%);
 z-index: -99999;
}

.top-nav-collapse {
  background-color: #0b081d;}

.navbar:not(.top-nav-collapse) {background: #320b0d	 ;}

#intro .h6 {
  font-weight: 350;
  line-height: 1.7;
}

header {
  margin-top: 22px;
}

/* discord */
  .discord-dialog *,.discord-dialog *:before,.discord-dialog *:after{box-sizing:inherit}.discord-dialog a{text-decoration:none}@keyframes discord-dialog__transition{0%{opacity:0;transform:translateY(16px)}100%{opacity:1;transform:translateY(0)}}.discord-dialog{-webkit-tap-highlight-color:transparent;box-sizing:border-box;display:none;z-index:2147483647;position:fixed;max-width:288px;right:0;bottom:0;margin:18px;background:#2e3136;color:#72767d;box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);transition:opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);animation:discord-dialog__transition 0.2s}.discord-dialog--active{display:block}.discord-dialog__container{font-size:16px;line-height:1.25;color:#99aab5;padding:28px}.discord-dialog__logo{display:none;width:auto;margin-top:5px;height:24px}.discord-dialog__logo path{fill:#fff}.discord-dialog__close-button{position:absolute;right:0;padding:16px;cursor:pointer}.discord-dialog__close-button svg{height:20px;width:20px}.discord-dialog__close-button svg path{fill:#ccc}.discord-dialog__close-button:hover{opacity:0.8}.discord-dialog__close-button:active{opacity:0.4}.discord-dialog__footer{padding:10px 20px}.discord-dialog__footer{border-top:1.5px solid #36393f}.discord-dialog__guild-icon{border-radius:50%;width:64px;display:block;height:auto;margin:16px 0}.discord-dialog__guild{font-size:18px;margin-bottom:12px;color:#fff}.discord-dialog__btn{background:#7289da;color:#fff;text-align:center;display:block;border-radius:1px;margin:8px;font-size:14px;text-transform:uppercase;font-weight:600;padding:4px 16px;position:relative;top:-6px;box-shadow:0 2px 4px rgba(0,0,0,0.4);transition:box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.discord-dialog__btn:hover{background:#8095de}.discord-dialog__btn:active{background:#677bc4}.discord-dialog__explainer{display:block;margin:2px 8px;color:#7289da;font-size:12px;position:relative;top:-6px}.discord-dialog__explainer:hover{opacity:0.8}.discord-dialog__explainer:active{opacity:0.6}.discord-button{-webkit-tap-highlight-color:transparent;box-sizing:border-box;display:block;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);position:fixed;bottom:0;right:0;z-index:50;margin:17.5px;padding:10.5px;border-radius:50%;height:48px;background:#fff;cursor:pointer;transition:box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.discord-button svg{height:28px;width:28px;transition:background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.discord-button svg path{fill:#7289da}.discord-button:hover{background:#d9d9d9;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23)}.discord-button:hover svg path{fill:#6c82cf}.discord-button:active{background:#b3b3b3;box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23)}.discord-button:active svg path{fill:#677bc4}
