#intro {
  margin: 0px 10% 0px 10%;
}

body {
  background:  url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body:before {
 content: "";
 position: absolute;
 left: 0; right: 0;
 top: 0; bottom: 0;
 background: linear-gradient(25deg, rgba(42, 27, 161, 0.2), rgba(255, 10, 20, 0.31) 100%)
 background-attachment: fixed;
}

.top-nav-collapse {
  background-color: #4B0082;}
  
.navbar:not(.top-nav-collapse) {background: #0b081d ;}

@media (max-width: 768px) {.navbar:not(.top-nav-collapse) {background: #0b081d ;}}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;}
